{% load static %}
<!DOCTYPE html>
<html lang="es-419">
    <head>
        <meta charset="utf-8" />
        <title>Manejo de Usuarios</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img width="100%" height="64" src="{% static 'usuarios/src/logo_cinemaUSAC.png' %}" alt="USAC Cinema">
                    </a>
                </div>
            </div>
            <div class="b-example-divider"></div>
        </header>
        <div class="px-4 py-5 my-5 text-center">
            <h2>Usuarios</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, user in users %}
                    <tr id="{{user.correo}}">
                        <td>{{ index }}</td>
                        <td class="rol">{{ user.rol }}</td>
                        <td class="nombre">{{ user.nombre }}</td>
                        <td class="apellido">{{ user.apellido }}</td>
                        <td class="telefono">{{ user.telefono }}</td>
                        <td class="correo">{{ user.correo }}</td>
                        <td class="contrasena">{{ user.contrasena }}</td>
                        <td>
                            <button type="button" class="edit-button" data-correo="{{ user.correo }}">Editar</button>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="correo" value="{{ user.correo }}">
                                <input type="hidden" name="action" value="delete">
                                <input type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form id="user-form" method="post">
                {% csrf_token %}
                <div>Rol: <input id="form-rol" type="text" name="rol"></div>
                <div>Nombre: <input id="form-nombre" type="text" name="nombre"></div>
                <div>Apellido: <input id="form-apellido" type="text" name="apellido"></div>
                <div>Teléfono: <input id="form-telefono" type="text" name="telefono"></div>
                <div>Correo: <input id="form-correo" type="text" name="correo"></div>
                <div>Contraseña: <input id="form-contrasena" type="text" name="contrasena"></div>
                <div>
                    <input type="hidden" name="action" value="add">
                    <input id="form-submit" type="submit" value="Añadir Usuario">
                </div>
            </form>
        </div>

        <script>
            $(document).ready(function(){
                $(".edit-button").click(function(){
                    var correo = $(this).data('correo');
                    var row = $("#" + correo);
                    $("#form-rol").val(row.find(".rol").text());
                    $("#form-nombre").val(row.find(".nombre").text());
                    $("#form-apellido").val(row.find(".apellido").text());
                    $("#form-telefono").val(row.find(".telefono").text());
                    $("#form-correo").val(row.find(".correo").text());
                    $("#form-contrasena").val(row.find(".contrasena").text());
                    $("#form-submit").val("Guardar Cambios");
                });
    
                $("#user-form").submit(function(){
                    if ($("#form-submit").val() === "Guardar Cambios") {
                        $(this).append('<input type="hidden" name="action" value="modify" />');
                    } else {
                        $(this).append('<input type="hidden" name="action" value="add" />');
                    }
                });
            });
            </script>

    </body>
</html>