{% load static %}
<!DOCTYPE html>
<html lang="es-419">
    <head>
        <meta charset="utf-8" />
        <title>Manejo de Películas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img width="100%" height="64" src="{% static 'usuarios/src/logo_cinemaUSAC.png' %}" alt="USAC Cinema">
                    </a>
                </div>
            </div>
        </header>
        <div class="b-example-divider"></div>
        <div class="px-4 py-5 my-5 text-center">
            <h2>Películas</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Título</th>
                        <th scope="col">Director</th>
                        <th scope="col">Año</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, movie in movies %}
                    <tr id="{{movie.titulo}}">
                        <td>{{index}}</td>
                        <td class="categoria">{{movie.categoria}}</td>
                        <td class="titulo">{{movie.titulo}}</td>
                        <td class="director">{{movie.director}}</td>
                        <td class="anio">{{movie.anio}}</td>
                        <td class="fecha">{{movie.fecha}}</td>
                        <td class="hora">{{movie.hora}}</td>
                        <td class="imagen">{{movie.imagen}}</td>
                        <td class="precio">{{movie.precio}}</td>
                        <td>
                            <button type="button" class="edit-button" data-movie="{{movie.titulo}}">Editar</button>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="titulo" value="{{ movie.titulo }}">
                                <input type="hidden" name="action" value="delete">
                                <input type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form id="movie-form" method="post">
                {% csrf_token %}
                <div>Categoría  <input id="form-categoria" type="text" name="categoria"></div>
                <div>Título     <input id="form-titulo" type="text" name="titulo"></div>
                <div>Director   <input id="form-director" type="text" name="director"></div>
                <div>Año        <input id="form-anio" type="text" name="anio"></div>
                <div>Fecha      <input id="form-fecha" type="text" name="fecha"></div>
                <div>Hora       <input id="form-hora" type="text" name="hora"></div>
                <div>Imagen     <input id="form-imagen" type="text" name="imagen"></div>
                <div>Precio     <input id="form-precio" type="text" name="precio"></div>
                <div>
                    <input type="hidden" name="action" value="add">
                    <input id="form-submit" type="submit" value="Añadir Película">
                </div>
            </form>
        </div>

        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                let editButtons = document.querySelectorAll(".edit-button");
                for (let i = 0; i < editButtons.length; i++) {
                    editButtons[i].addEventListener("click", function() {
                        let row = this.closest('tr'); // Get the closest tr parent element
                        document.querySelector("#form-categoria").value = row.querySelector(".categoria").textContent;
                        document.querySelector("#form-titulo").value = row.querySelector(".titulo").textContent;
                        document.querySelector("#form-director").value = row.querySelector(".director").textContent;
                        document.querySelector("#form-anio").value = row.querySelector(".anio").textContent;
                        document.querySelector("#form-fecha").value = row.querySelector(".fecha").textContent;
                        document.querySelector("#form-hora").value = row.querySelector(".hora").textContent;
                        document.querySelector("#form-imagen").value = row.querySelector(".imagen").textContent;
                        document.querySelector("#form-precio").value = row.querySelector(".precio").textContent;

                        // Modify the action and submit button
                        let actionInput = document.querySelector("#movie-form input[name=action]");
                        let submitButton = document.querySelector("#form-submit");
                        actionInput.value = "modify";
                        submitButton.value = "Guardar Cambios";
                    });
                }

                // Here's the new event listener
                let form = document.querySelector("#movie-form");
                form.addEventListener("submit", function(event) {
                    // Prevent the default form submission action
                    event.preventDefault();

                    // Reset the action and submit button
                    let actionInput = document.querySelector("#movie-form input[name=action]");
                    let submitButton = document.querySelector("#form-submit");
                    actionInput.value = "add";
                    submitButton.value = "Añadir Película";

                    // Perform form submission manually
                    form.submit();
                });
            });
            </script>
            
    </body>
</html>