{% load static %}
<!DOCTYPE html>
<html lang="es-419">
    <head>
        <meta charset="utf-8" />
        <title>Manejo de Salas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img width="100%" height="64" src="{% static 'salas/src/logo_cinemaUSAC.png' %}" alt="USAC Cinema">
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
                    <div class="text-end">
                        <button id="regresar" type="button" class="btn btn-outline-light me-2">Regresar al menú</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="b-example-divider"></div>
        <div class="px-4 py-5 my-5 text-center">
            <h2>Salas</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Número de asientos</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, room in rooms %}
                    <tr id="{{room.numero}}">
                        <td>{{index}}</td>
                        <td class="numero">{{room.numero}}</td>
                        <td class="asientos">{{room.asientos}}</td>
                        <td>
                            <button type="button" class="edit-button" data-room="{{room.numero}}">Editar</button>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="numero" value="{{room.numero}}">
                                <input type="hidden" name="action" value="delete">
                                <input type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form id="room-form" method="post" class="form-group" style="max-width: 500px; margin: auto;">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="form-numero" class="form-label" style="font-weight: bold; color: #000000;">Numero:</label>
                    <input id="form-numero" type="text" name="numero" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="form-asientos" class="form-label" style="font-weight: bold; color: #000000;">Asientos:</label>
                    <input id="form-asientos" type="text" name="asientos" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="hidden" name="action" value="add">
                    <input id="form-submit" type="submit" value="Añadir sala" class="btn btn-primary">
                </div>
            </form>
        </div>

        <div class="container">
            <footer class="py-3 my-4 text-center text-white" style="background-color: #212529;">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item">Sergio Andrés Larios Fajardo - </li>
                    <li class="nav-item">202111849 - </li>
                    <li class="nav-item">IPC2 P</li>
                </ul>
                <p class="text-center" style="color: #ffffff;">© 2023 USAC</p>
            </footer>
        </div>

        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                let editButtons = document.querySelectorAll('.edit-button');
                for (let i = 0; i < editButtons.length; i++) {
                    editButtons[i].addEventListener('click', function(){
                        let row = this.closest('tr');
                        document.querySelector('#form-numero').value = row.querySelector('.numero').textContent;
                        document.querySelector('#form-asientos').value = row.querySelector('.asientos').textContent;

                        let actionInput = document.querySelector('#room-form input[name="action"]');
                        let submitButton = document.querySelector('#form-submit');
                        actionInput.value = 'modify';
                        submitButton.value = 'Guardar Cambios';
                    });
                }

                let form = document.querySelector('#room-form');
                form.addEventListener("submit", function(event){
                    event.preventDefault();

                    let actionInput = document.querySelector('#room-form input[name="action"]');
                    let submitButton = document.querySelector('#form-submit');
                    actionInput.value = 'add';
                    submitButton.value = 'Añadir Sala';

                    form.submit();
                });
            });
        </script>
        <script>
            document.getElementById("regresar").onclick = function () {
                location.href = "http://127.0.0.1:8000/administrador/"
            };
        </script>
    </body>
</html>